<div class="base-header anon-header anon-header-white language-en static-background" id="hd">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../../assets/images/logo.png" alt="Here is Logo" width="140" height="50">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="{{'/'}}">Home</a></li>
      <li><a routerLink="{{'/subject'}}">Subject</a></li>
      <li><a routerLink="{{'/class'}}">Class</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li style="cursor: pointer" data-toggle="modal" data-target="#register"><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li style="cursor: pointer" *ngIf="username"><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> {{username}}</a></li>
      <li style="cursor: pointer" data-toggle="modal" data-target="#loginRoute" *ngIf="!username"><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</div>
<app-login></app-login>
<br><br><br>
<script>
  window.onscroll = function () { myFunction() };

  var navbar = document.getElementById("hd");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      navbar.classList.add("scroll-sticky")
    } else {
      navbar.classList.remove("scroll-sticky");
    }
  }
</script>
