.avatar-frame{border: 2px solid #c7b89e;}
.avatar-frame{
  width: 46px;
  height: 46px;
  display: block;
  border-radius: 100%;
}
.avatar-frame img{
  position: absolute;
  z-index: -1;
  width: 42px;
  height: 42px;
  object-fit: contain;
}

li:hover {
  cursor: pointer;
}

ul li ul:before {
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom:10px solid #363c43;
  right: 13px;
  top: -8px;
}

ul li ul {
  right: 5px;
  text-align: center;
  width: 130px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  top: 25px;
  position: absolute;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  top:58px;
}

ul li ul li:hover {
  color: #337ab7;
  background-color: #fff;
}

ul li ul li {
  color: #337ab7;
  background-color: #333333;
  opacity: 0.8;
  border-radius: 10px;
  list-style-type: none;
  font-size: 16px;
  padding: 10px;
  clear: both;
  width: 100%;
}

.base-header.anon-header {
  border: none;
  z-index: 20;
  position: fixed;
  width: 100%;
  padding-top: 0;
  left: 0;
  right: 0;
  max-width: none;
}
.anon-header.anon-header-white {
  background-color: #fff;
}
.base-header {
  position: relative;
  z-index: 300;
}
.anon-header {
  position: relative;
  height: 50px;
  z-index: 300;
}
/*div {
  display: block;
}*/
.base-header.anon-header.scroll-sticky {
  box-shadow: 0 4px 4px 0 rgba(51,62,72,0.13), 0 4px 4px 0 rgba(51,62,72,0.13);
  background-color: #fff;
}
.anon-header .inner-header-top {
  height: 0;
  padding: 0;
}


