.answer3{
  border-color: #333333;
  color: #39ff27;
}
input {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  outline: none;
  overflow: hidden;
  max-width: none;
  border: 1px solid;
  width: -webkit-fill-available;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

mat-error {
  color: red;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
