.answer3{
  border-color: #333333;
  color: #39ff27;
}
input {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  outline: none;
  overflow: hidden;
  max-width: none;
  border: 1px solid;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

mat-error {
  color: red;
}
