<section class="main-content flex-1">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Content</th>
      <th>Answer</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody *ngFor="let question of questions">
    <tr>
      <td><textarea [(ngModel)]="question.content" style="border: none; height: 150px;">{{question.content}}</textarea></td>
      <td><div *ngFor="let answer of question.listIdAnswer, let i = index"><textarea [(ngModel)]="answer.content" style="border: none; margin-bottom: 10px;" name="answer{{i}}" class="answer{{i}}" type="text"></textarea></div></td>
      <td><a (click)="UpdateQuestion(question)"><i class="fas fa-edit"></i></a></td>
      <td><a (click)="DeleteQuestion(question._id)"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
    </tbody>
  </table>
  <button data-toggle="modal" data-target="#CreateQuestion"> New </button>
</section>

<div class="modal fade" id="CreateQuestion" role="dialog" tabindex="-1">
  <div class="modal-dialog" style="width: 1200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="closeCreateQuestionModal" data-dismiss="modal" style="display: none"></button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Content</th>
            <th>Answer</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let question of newQuestions, let j = index">
            <td>
              <textarea [(ngModel)]="question.content" style="width: 500px; height: 200px;">{{question.content}}</textarea>
            </td>
            <td>
              <div *ngFor="let answer of question.listIdAnswer, let i = index">
                <textarea [(ngModel)]="answer.content" style="margin-bottom: 10px; width: 400px;" name="answer{{i}}" class="answer{{i}}" type="text"></textarea>
              </div>
            </td>
            <td><a (click)="DeleteNewQuestion(j)"><i class="fas fa-trash-alt"></i></a></td>
          </tr>
          <tr name="createQuestionForm" #createQuestionForm="ngForm" [formGroup]="formCreateQuestion">
            <td>
              <mat-form-field>
                <textarea matInput [(ngModel)]="newQuestion.content" formControlName="content" style="height: 200px; width: 500px" type="text"></textarea>
                <mat-error *ngFor="let validation of validation_messages.content">
                  <mat-error class="error-message"
                             *ngIf="formCreateQuestion.get('content').hasError(validation.type) && (formCreateQuestion.get('content').dirty || formCreateQuestion.get('content').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <div *ngFor="let answer of newQuestion.listIdAnswer, let i = index">
                <mat-form-field>
                  <textarea matInput [(ngModel)]="answer.content" formControlName="contentAnswer{{i}}" style="width: 400px;" name="answer{{i}}" class="answer{{i}}" type="text"></textarea>
                  <mat-error *ngFor="let validation of validation_messages.contentAnswer">
                    <mat-error class="error-message"
                               *ngIf="formCreateQuestion.get('contentAnswer'+i).hasError(validation.type) && (formCreateQuestion.get('contentAnswer'+i).dirty || formCreateQuestion.get('contentAnswer'+i).touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" (click)="addNewQuestion()" [disabled]="!(formCreateQuestion.valid)"><i class="fas fa-plus-square"></i></button>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="OnSubmitAddNewQuestion()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
